@using Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />
    <link rel="stylesheet" href="css/materialdesignicons.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
    <link rel="stylesheet" href="css/vue/vuetify.min.css" />

    <div id="app">
        <v-app id="inspire">
            <v-form style="margin-top:180px">
                <v-container fluid>

                    <v-col me="12"
                           sm="3"
                           class="float-right" style="margin-right:300px">
                        <v-text-field :append-icon="'mdi-account'"
                                      :rules="[rules.required, rules.min]"
                                      label="User Name"></v-text-field>
                    </v-col>
                    <br />
                    <br />
                    <br />
                    <br />
                    <v-col me="12"
                           sm="3"
                           class="float-right" style="margin-right:300px">
                        <v-text-field :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
                                      :rules="[rules.required, rules.min]"
                                      :type="show3 ? 'text' : 'password'"
                                      name="input-10-2"
                                      label="User Password"
                                      hint="At least 8 characters"
                                      value="wqfasds"
                                      class="input-group--focused"
                                      v-on:click:append="show3 = !show3"></v-text-field>
                    </v-col>



                </v-container>
            </v-form>
        </v-app>
    </div>
}
<script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
<script src="js/vue/vue.min.js"></script>
<script src="js/vue/vuetify.min.js"></script>
<script src="js/userJs/Login.js"></script>
