@using Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />
    <link rel="stylesheet" href="css/materialdesignicons.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
    <link rel="stylesheet" href="css/vue/vuetify.min.css" />
    <link rel="stylesheet" href="css/StyleSheet.css" />
    <div id="app">
        <v-app id="inspire" class="login-app">
            <div class="login-title">
                <span class="font-title">ShareYourInterests</span>
            </div>
            <div class="login-content">
                <v-form>
                    <v-container fluid>
                        <div class="login-box">
                            <div class="login-container">
                                <v-col me="12" class="element-center">
                                    <v-avatar color="purple lighten-3" size="100">
                                        <img src="images/avatar.png"
                                             alt="Avatar">
                                    </v-avatar>
                                </v-col>
                                <v-col me="12">
                                    <v-text-field v-model="userAccount" color="purple"
                                                  :append-icon="'mdi-account'"
                                                  :rules="[rules.required, rules.min]"
                                                  label="User Name"></v-text-field>
                                </v-col>
                                <br />
                                <v-col me="12">
                                    <v-text-field v-model="userPassword" color="purple"
                                                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                                  :rules="[rules.required, rules.min]"
                                                  :type="showPassword ? 'text' : 'password'"
                                                  name="input-10-2"
                                                  label="UserPassword"
                                                  hint="At least 8 characters"
                                                  class="input-group--focused"
                                                  v-on:click:append="showPassword = !showPassword"></v-text-field>
                                </v-col>
                                <br />
                                <v-col class="my-2">
                                    <v-btn class="col-12 white--text" x-large
                                           :disabled="isButtonDisabled"
                                           color="purple lighten-3" 
                                            v-on:click="Login" >
                                        Login
                                    </v-btn>
                                </v-col>
                            </div>
                        </div>
                    </v-container>
                </v-form>
            </div>
            <div class="login-footer"></div>
        </v-app>
    </div>
}
<script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
<script src="js/vue/vue.min.js"></script>
<script src="js/vue/vuetify.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="js/userJs/Login.js"></script>
