@using Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />
    <link rel="stylesheet" href="css/materialdesignicons.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
    <link rel="stylesheet" href="css/vue/vuetify.min.css" />

    <div id="app" >
        <v-app id="inspire" style="background-color: gray">
            <v-form style="margin-top:300px">
                <v-container fluid>
                    <div style="height:500px;width:33%; float: right; margin-right: 300px;background-color: white">
                        <v-col me="12" style="margin-top:100px">
                            <v-text-field v-model="userAccount" color="purple"
                                          :append-icon="'mdi-account'"
                                          :rules="[rules.required, rules.min]"
                                          label="User Name"></v-text-field>
                        </v-col>
                        <br/>
                        <v-col me="12"
                        >
                            <v-text-field v-model="userPassword" color="purple"
                                          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                          :rules="[rules.required, rules.min]"
                                          :type="showPassword ? 'text' : 'password'"
                                          name="input-10-2"
                                          label="User Password"
                                          hint="At least 8 characters"
                                          class="input-group--focused"
                                          v-on:click:append="showPassword = !showPassword"></v-text-field>
                        </v-col>
                        <br/>
                        
                        <v-col class="my-2">
                            <v-btn class="col-12" x-large
                                   color="purple lighten-3"
                                   dark>
                                Login
                            </v-btn>
                        </v-col>
                    </div>
                   

                </v-container>
            </v-form>
        </v-app>
    </div>
}
<script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
<script src="js/vue/vue.min.js"></script>
<script src="js/vue/vuetify.min.js"></script>
<script src="js/userJs/Login.js"></script>
