.login-box {
    width: 500px;
    height: 550px;
    position: absolute;
    right: 300px;
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: violet;
}

.login-container {
    padding: 20px 50px 50px
}

.login-title {
    height: 72px;
}

.login-content {
    height: 574px;
    background: url(../images/triangles.png);
    background-attachment: fixed;
}

.login-footer {
    height: 370px;
}

.login-app {
    background-color: white!important
}
.element-center {
    text-align: center
}
.font-title {
    padding-left: 20px;
    color: #CE93D8;
    font-size: 40px;
    font-weight: bold;
    line-height: 72px;
}
